
@{
    ViewData["Title"] = "Laporan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">@ViewData["Title"]</h5>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div id="proyek"></div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            getProyek();
        });

        function getProyek() {
            $('#loadings').removeClass('d-none');
            $.get('@Url.Action("getProyek", "Report")', null, function (result) {
                $('#proyek').html('');
                $('#proyek').html(result);
                $('#loadings').addClass('d-none');
            })
        }
    </script>
}