@model renovi.Models.listProyek

<div class="list-group">
    @foreach (var data in Model.data)
    {
        <a type="button" class="list-group-item list-group-item-action mb-2 shadow" asp-controller="Report" asp-action="ReportList" asp-route-Id="@data.Id">
            @if (data.isActive)
            {
                <i class="fas fa-circle mt-1 mr-1 text-info"></i>
            }
            else
            {
                <i class="fas fa-circle mt-1 mr-1 text-muted"></i>
            }
            @data.judul (@data.idProyek)
        </a>
    }
</div>