@model renovi.Models.PayrollParam


<div class="container-fluid mb-4">

    <form id="frmPayroll">
        
        <div class="row justify-content-sm-center">
            <div class="col-sm-12 mt-2">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <small>Periode Absensi</small>
                                <input type="text" class="form-control form-control-sm" id="xdate">
                                <input type="text" asp-for="idProyek" class="d-none">
                                <input type="text" asp-for="judul" class="d-none">
                                <input type="date" asp-for="start" class="d-none" id="start">
                                <input type="date" asp-for="end" class="d-none" id="end">
                            </div>
                            <div class="form-group col-sm-2 mt-4">
                                <button type="button" class="btn btn-info btn-sm" onclick="generatePayroll()">Generate Data</button>
                            </div>
                            <div class="form-group col-sm-8 mt-4 text-right">
                                <button class="btn btn-info btn-sm" onclick="printDiv('printPayroll')">
                                    <i class="fas fa-print mr-1"></i>Cetak Rekap Payroll
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="payrolls"></div>
                    </div>
                </div>

                
            </div>
        </div>

    </form>
</div>