
@{
    ViewData["Title"] = "Input Absen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">@ViewData["Title"]</h5>
</div>

<div class="card mb-4">
    <div class="card-body">

    </div>
</div>
